<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Chat | ChatApp</title>
</head>
<body class="chat">

  <div class="chat__sidebar">
    <h3>Users</h3>
    <div id="users"></div>
  </div>

  <div class="chat__main">
    <ol id="messages" class="chat__messages"></ol>

    <div class="chat__footer">
      <form id="message-form">
        <input name="message" type="text" placeholder="Message" autofocus autocomplete="off">
        <button>Send</button>
      </form>
      <button id="send-location">Send location</button>
    </div>
  </div>


  <script id="message-template" type="text/template">
    <li class="message">
      <div class="message__title">
        <h4>{{from}}</h4>
        <span>{{createdAt}}</span>
      </div>
      <div class="message__body">
        <p>{{text}}</p>
      </div>
    </li>
  </script>

  <script id="location-message-template" type="text/template">
    <li class="message">
      <div class="message__title">
        <h4>{{from}}</h4>
        <span>{{createdAt}}</span>
      </div>
      <div class="message__body">
        <p>
          <a href="{{url}}" target="_blank">My Current Location</a>
        </p>
      </div>
    </li>
  </script>


  <script src="/js/lib/jquery.js"></script>
  <script src="/js/lib/moment.js"></script>
  <script src="/js/lib/mustache.js"></script>
  <script src="/js/lib/deparam.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
</body>
</html>